.banner {
  position: relative;
  @include flex(center, center);
  margin: 0 auto;
  padding: 60px 0;
  background-image: linear-gradient(180deg, $color-bg-black, rgba($color-bg-black, 0.7), $color-additional-light);
  
  &-reverse {
    background-color: $color-reverse;
    background-image: linear-gradient(180deg, $color-additional-light, rgba($color-bg-black, 0.7), $color-bg-black);
  }

  &-textarea {
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    color: $color-reverse;
    max-width: 670px;

    .banner-title {
      @include font(20px, 400, 35px);
      font-style: italic; 
      margin-top: 0;
      text-transform: uppercase;

      @media screen and (min-width: 640px) {
        & {
          @include font(28px, 300, 58px);
        }
      }

      @media screen and (min-width: 960px) {
        & {
          @include font(24px, 300, 36px);
        }
      }
    }
    
    .banner-description {
      @include font(16px, 400, 22px);
      margin: 0;

      @media screen and (min-width: 640px) {
        & {
          @include font(15px, 400, 24px);
        }
      }

      @media screen and (min-width: 960px) {
        & {
          @include font(18px, 400, 28px);
        }
      }
    }
  }
}
  