.card-wrap {
  @include flex(center, center);
  height: 100%;
}

.card {
  @include flex(flex-start, center);
  flex-direction: column;
  height: 100%;
  padding: 0;
  position: relative;

  &-header {
    position: relative;
    width: 100%;
  }

  &-body-wrap {
    width: 100%;
  }

  &-media {
    margin: 0;
  }

  &-portfolio {
    border-radius: 5px;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    .card-foreground-body {
      width: 100%;
      @include flex(center, center);
      flex-grow: 1;
      
      .figure-plus {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: $element-border;
        padding: 8px;
        margin: 0;
        background-color: $color-label-hover;
      } 
    }

    .card-foreground-footer {
      padding: 12px;
      width: 100%;
      @include flex(center, center);
      flex-direction: column;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.8);

      @media screen and (min-width: 480px) {
        & {
          padding: 7px;
        }
      }

      @media screen and (min-width: 960px) {
        & {
          padding: 15px;
          @include flex(left, center);
        }
      }

      .card-title {
        color: $color-reverse;
      }

      .portfolio-link {
        color: $color-reverse;
      }
    }
  }

  &-skills {
    width: 100%;
    padding: 10px 6px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color-reverse;
    box-shadow: 0 8px 28px rgba(0,0,0,0.3);
    border-radius: 8px;
    transition-duration: 0.3s;
    @include spacing(8px);

    @media screen and (min-width: 480px) {
      flex-direction: column;
      @include spacing(0px);
    }

    &:hover {
      transform: scale(1.05);
    }

    .card-media {
      margin: 0 auto;
      max-width: 55px;

      @media screen and (min-width: 480px) {
        margin-bottom: 15px;
      }
    }
  }

  &-experience {
    position: relative;
    @include flex(center, flex-start);
    border-radius: 8px;
    padding: 12px 10px;
    background-color: $color-card-hover;
    margin-left: 25px;
    border: $element-border;

    &.card-promotion, &.card-side {
      margin-left: 60px;

      .corner-down {
        position: absolute;
        left: -37px;
        width: 37px;
        height: calc(50% + 25px);
        top: 50%;
        display: inline-block;
        content: '';
        border-top: $element-border;
        border-left: $element-border;
        border-top-left-radius: 5px;
      }

      .corner-up {
        position: absolute;
        left: -37px;
        width: 37px;
        height: calc(50% + 20px);
        bottom: calc(50% + -5px);
        display: inline-block;
        content: '';
        border-left: $element-border;
      }
    }

    &.card-side {
      margin-left: 60px;
      background-color: $color-additional-light;
    }
  }

  &-hobbies {
    &:hover .card-background .img {
      width: 108%;
      height: 108%;
    }
  }
  

  &-background {
    margin: 0;
    width: 100%;
  }
  
  &-foreground {
    @include overlay(2, transparent, 1);
    @include flex(center, center);
    display: none;
  }
  
  &-overlay {
    @include overlay(1, $color-overlay, 0.5);
    display: none;
    margin: 0;

    .card-portfolio & {
      @include overlay(1, darken($color-overlay, 15%), 0.6);
    }

    .card-hobbies & {
      @include overlay(1, darken($color-overlay, 15%), 0.6);
    }
  }
  
  &-title {
    width: 100%;
    margin: 0;
    @include font(15px, 600, 24px);
    color: $color-main;
    text-transform: uppercase;
    text-align: center;
    overflow-wrap: break-word;
    margin-bottom: 10px;

    .card-portfolio & {
      @include font(13px, 600, 1);
      letter-spacing: 2px;
      @include flex(center, center);
    }

    @media screen and (min-width: 480px) {
      & {
        @include font(17px, 600, 26px);
      }
    }

    @media screen and (min-width: 640px) {
      & {
        @include font(18px, 600, 28px);
      }
    }

    @media screen and (min-width: 960px) {
      & {
        @include font(18px, 600, 28px);
      }
    }

    .section-reverse & {
      color: $color-reverse;
    }

    .card-skills & {
      @include font(14px, 600, 20px);
      text-align: left;
      margin-bottom: 6px;

      @media screen and (min-width: 480px) {
        @include font(15px, 600, 24px);
        text-align: center;
      }

      @media screen and (min-width: 960px) {
        @include font(17px, 600, 24px);
      }
    }

    .card-experience & {
      text-align: left;
      @include font(14px, 600, 24px);
      margin-bottom: 5px;
    }

    .card-side & {
      color: $color-main;
    }

    .card-hobbies & {
      width: auto;
      padding: 10px 25px;
      border-radius: 24px;
      background-color: $color-label-hover;
      margin: 0;
      color: $color-reverse;
    }
  }

  &-subtitle {
    margin: 0;
    @include font(13px, 400, 18px);
    color: $color-additional;
    text-align: center;
    text-transform: none;
    overflow-wrap: break-word;

    @media screen and (min-width: 480px) {
      & {
        @include font(15px, 400, 23px);
      }
    }

    .section-experience & {
      color: $color-additional-dark;
      margin-bottom: 10px;
    }
  }

  &-description {
    text-align: center;
    margin-top: 0;
    
    .section-reverse & {
      color: $color-additional-light;
    }

    .card-skills & {
      @include font(12px, 400, 20px);
      color: $color-additional-dark;
      text-align: left;

      @media screen and (min-width: 480px) {
        @include font(13px, 400, 20px);
      }

      @media screen and (min-width: 960px) {
        @include font(15px, 400, 24px);
      }
    }

    .card-experience & {
      text-align: left;
      color: $color-additional;
    }

    .card-portfolio & {
      color: $color-additional-light;
      @include font(12px, 400, 1.6);
    }
  }

  & .fancybox-thumbnail {
    display: none;
  }

  &:hover {
    .card-overlay, &:hover .card-foreground {
      @include flex(center, center);
      flex-direction: column;
    }
  }
}
