.line-wrap {
  flex-direction: column;
  height: 100%;
  position: relative;
  @include flex(flex-end, center);

  &.center {
    @include flex(center, center);
  }
}

.vert-line {
  height: 100%;
  min-height: 40px;
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  background-color: $color-secondary;

  &-new {
    position: absolute;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    border-radius: 4px;
    background-color: $color-completed;
  }
}

.dot {
  position: absolute;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $color-reverse;

  &.dot-start {
    transform: translateY(50%);
  }
  
  &.dot-end {
    top: 0;
    transform: translateY(-50%);
  }
}

.career-icon-flag {
  position: absolute;
  width: 40px;
  margin: 0;
  @include flex(center, center);
  transform-origin: bottom center;

  &.swing {
    animation: swing 2s infinite;
  }
  
  @keyframes swing {
    0% {
      transform: translate(20%, 15%) rotate(15deg) rotateY(0deg);
    }
    60% {
      transform: translate(10%, 20%) rotate(30deg) rotateY(30deg);
    }
    100% {
      transform: translate(20%, 15%) rotate(15deg) rotateY(0deg);
    }
  }

  &.finish {
    top: 0;
  }
  
  &.finish.swing-end {
    animation: swing-end 2s infinite;
  }
  
  @keyframes swing-end {
    0% {
      transform: translate(20%, -90%) rotate(15deg) rotateY(0deg);
    }
    60% {
      transform: translate(15%, -90%) rotate(30deg) rotateY(30deg);
    }
    100% {
      transform: translate(20%, -90%) rotate(15deg) rotateY(0deg);
    }
  }
} 

.career-icon-up {
  position: absolute;
  width: 14px;
  margin: 0;
  @include flex(center, center);
  transform-origin: center center;

  &.bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translate(85%) translateY(0);
    }
    40% {
      transform: translate(90%) translateY(-10px);
    }
    60% {
      transform: translate(90%) translateY(-5px);
    }
  }
}

.career-icon-new {
  position: absolute;
  width: 16px;
  margin: 0;
  @include flex(center, center);
  transform-origin: center center;

  &.rotate {
    animation: rotate 2s infinite linear;;
  }
  
  @keyframes rotate {
    from {
      transform: translate(105%) rotate(0deg);
    }
    to {
      transform: translate(105%) rotate(359deg);
    }
  }
}


