.footer {
    padding: 20px 0;
    background-color: $color-bg-black;

    @media screen and (min-width: 480px) {
      padding: 25px 0;
    }


    &-layout {
        @include flex(space-between, stretch);
        @include spacing(8px);
        padding: 0;
    }

    &-left {
      @include flex(left, center);
      width: 100%;
    }
    
    &-right {
      @include flex(right, center);
    }  
  }
