.form {
  background-color: transparent;
  position: relative;
  z-index: 0;
  padding: 0;
  max-width: 700px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 640px) {
    max-width: 500px;
  }

  @media screen and (min-width: 960px) {
    max-width: 550px;
  }

  &-layout {
    @include flex(center, center);
    @include spacing(6px);
    flex-wrap: wrap;

    @media screen and (min-width: 640px) {
      @include spacing(8px);
    }
  }
  
  &-input {
    margin-bottom: 20px;

    @media screen and (min-width: 640px) {
      margin-bottom: 25px;
    }
  }

  &-style {
    width: 100%;
    border-radius: 5px;
    border: none;
    color: $color-main;
    background-color: $color-additional-light;
    @include font(14px, 400, 18px);
    padding: 10px;
    margin: 0;
    outline: none;

    @media screen and (min-width: 640px) {
      & {
        padding: 12px;
      }
    }

    @media screen and (min-width: 960px) {
      & {
        padding: 10px;
      }
    }
  
    &::placeholder {
      color: $color-main;
    }
  }

  &-area {
    margin-bottom: 8px;

    @media screen and (min-width: 640px) {
      & {
        margin-bottom: 16px;
      }
    }

    @media screen and (min-width: 960px) {
      & {
        margin-bottom: 32px;
      }
    }
  }
  
  &-textarea {
    resize: none;
    height: 160px;
  }

  &-subtitle {
    text-transform: uppercase;
    @include font(14px, 600, 18px);
    color: $color-additional;
  }
}





