.section-list {
  @include font(14px, 600, 20px);
  list-style-type: none;
  padding-left: 0;

  & a {
    @include font(14px, 300, 18px);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    .section-story & {
      color: $color-secondary;
    }
  }

  & > li {
    @include font(14px, 300, 20px);
    color: $color-main;
    text-align: left;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    padding-left: 25px;

    .section-story & {
      margin-bottom: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
  
.list-item::before {
  display: inline-block;
  width: 26px;
  padding-right: 10px;
  margin-left: -25px;
  vertical-align: text-top;
}
  
.phone-icon::before {
  content: url(../../images/icons/phone-white.svg);
}

.marker-icon::before {
  content: url(../../images/icons/marker.svg);
}

.message-icon::before {
  content: url(../../images/icons/message.svg);
}

.skype-icon::before {
  content: url(../../images/icons/skype.svg);
}

.telegram-icon::before {
  content: url(../../images/icons/telegram.svg);
}

.calendar-icon::before {
  content: url(../../images/development/calendar.svg);
}

.time-icon::before {
  content: url(../../images/development/time.svg);
}

.mentor-icon::before {
  content: url(../../images/development/mentor.svg);
}

.cert-icon::before {
  content: url(../../images/development/cert.svg);
}

.course-icon::before {
  content: url(../../images/development/course.svg);
}

.goal-icon::before {
  content: url(../../images/development/goal.svg);
}

.hero-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  & li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &.mt-30 {
      margin-top: 25px;
    }
  }
}