.tab-grid {
  border-bottom: $element-border;
  margin: 0 auto;
  margin-bottom: 20px;

  @media screen and (min-width: 640px) {
    margin-bottom: 40px;
  }
}

.button-tab {
  @include flex(center, center);
  @include button($color-reverse, $color-secondary, 10px, 6px, none, 5px, uppercase);
  @include font(14px, 400, 20px);
  border: $element-border;
  border-bottom: 0;
  outline: none;
  transition-duration: 0.3s;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;

  @media screen and (min-width: 640px) {
    @include font(13px, 400, 18px);
    padding: 12px;
  }

  @media screen and (min-width: 960px) {
    @include font(14px, 400, 18px);
    padding: 15px;
  }

  &:hover {
    color: $color-reverse;
    background-color: lighten($color-secondary, 5%);
    border-color: lighten($color-secondary, 5%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  div {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transform-origin: center;
    text-align: center;
    width: 100%;
    @include flex(center, center);

    @media screen and (min-width: 640px) {
      transform: none;
      writing-mode: initial;
    }
  }

  &.active {
    @include button($color-main, $color-additional-light, 10px, 6px, none, 5px, uppercase);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: $color-additional-light;
  }
}

.grid.grid-tab {
  @include spacing(2px);
  margin-bottom: -2px;

  .col {
    margin-bottom: 0;

    &.col-1-5 {
      width: 20%;
    }
  }
}
