<section id="contact" class="section section-contact section-reverse">

  <div class="banner banner-reverse">
    <div class="banner-textarea">
      <h1 class="banner-title">Any questions? Just ask</h1>
    </div>
  </div>

  <div class="container">
    <header class="section-header">
      <h1 class="section-title">Contact me.</h1>
    </header>
  </div>
  <article class="section-body">
    <div class="container">
      <form class="form" action="https://formspree.io/kamiournew@gmail.com" method="POST">
        <div class="form-layout">
          <div class="col-12 col-6s">
            <input type="hidden" name="_subject" value="KazakovCodes New Submission"/>
            <div class="form-input">
              <h2 class="form-subtitle">Your Name</h2>
              <input class="form-style" type="text" name="name" autocomplete="on">
            </div>
          </div>
          <div class="col-12 col-6s">
            <div class="form-input">
              <h2 class="form-subtitle">Your Email</h2>
              <input class="form-style" type="email" name="_replyto" autocomplete="on">
            </div>
          </div>
          <div class="form-area col-12 form-area-message">
            <h2 class="form-subtitle">Your Message</h2>
            <textarea name="body" class="form-style form-textarea"></textarea>
          </div>
          <div class="button-wrap col-12">
            <input type="submit" value="Send Message" href="#send" class="button button-reverse">
          </div>
        </div>
      </form>
    </div>
    <figure class="hero-background">
      <img class="img" src="images/contact/bg.jpg" alt="Not found">
    </figure>
    <div class="section-overlay"></div>
  </article>
</section>