<section id="section-3" class="section section-story">
  
  <div class="banner">
    <div class="banner-textarea">
      <h1 class="banner-title">Constant learning</h1>
    </div>
  </div>

  <div class="container">
    <header class="section-header">
      <h2 class="section-title">Frontend studies.</h2>
      <h4 class="section-subtitle">Description</h4>
    </header>
    <main class="section-body">

      <div class="swiper-container swiper3-controls">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <h2 class="control-title">
              2015
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <h2 class="control-title">
              2016
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <h2 class="control-title">
              2017
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <h2 class="control-title">
              2018
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <h2 class="control-title">
              2019
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-container swiper3-main">
        <!-- Add Arrows
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <div class="slide-body col-12 col-10s col-8m">
                <ul class="section-list">
                  <li class="list-item calendar-icon">June-Aug 2019</li>
                  <li class="list-item telegram-icon">20 x 2hr lessons</li>
                  <li class="list-item skype-icon">Teacher: <a href="https://www.linkedin.com/in/sergey-birskiy" target="_blank">Sergey</a></li>
                </ul>
                <figure class="corner-label-shape">
                  <img class="img" src="images/icons/corner-done.svg" alt="not found">
                </figure>
                <div class="corner-label-main">
                  <h3 class="corner-label-text">Done</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <p class="slide-body width-1-1 width-4-5-s width-3-5-sm">
                In 2016 our company became bigger, we had hired 3 new teachers. We also bought new equipment and added one more class. 
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <p class="slide-body width-1-1 width-4-5-s width-3-5-sm">
                In 2017 our company became bigger, we had hired 3 new teachers. We also bought new equipment and added one more class. The number of students increased by 10%.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <p class="slide-body width-1-1 width-4-5-s width-3-5-sm">
                In 2018 our company became bigger, we had hired 3 new teachers. We also bought new equipment and added one more class. The number of students increased by 10%. We started learning our students with new techniques and organized evening classes.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <p class="slide-body width-1-1 width-4-5-s width-3-5-sm">
                In 2019 our company became bigger, we had hired 3 new teachers. We also bought new equipment and added one more class. We started learning our students with new techniques and organized evening classes.
              </p>
            </div>
          </div>
        
        </div>
      </div>

    </main>
  </div>
</section>