<section id="development" class="section section-story">
  
  <div class="banner">
    <div class="banner-textarea">
      <h1 class="banner-title">Setting course for Frontend</h1>
    </div>
  </div>

  <div class="container">
    <header class="section-header">
      <h2 class="section-title">Frontend studies.</h2>
    </header>
    <main class="section-body">

      <div class="swiper-container swiperdev-controls">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <h2 class="control-title">
              Front-End Basic
              <div class="control-fade"></div>
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <h2 class="control-title">
              Front-End Pro
              <div class="control-fade"></div>
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <h2 class="control-title">
              React
              <div class="control-fade"></div>
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <h2 class="control-title">
              Angular 7
              <div class="control-fade"></div>
            </h2>
            <div class="story-control-wrap">
              <div class="story-control-outer">
                <div class="story-control-inner"></div>
              </div>
              <div class="slide-line"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-container swiperdev-main">
        <!-- Add Arrows
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <div class="slide-body col-12">
                <ul class="section-list">
                  <li class="list-item calendar-icon">Jun-Aug 2019</li>
                  <li class="list-item time-icon">20 x 2hr lessons</li>
                  <li class="list-item mentor-icon">Mentor: <a class="development-link" href="https://www.linkedin.com/in/sergey-birskiy" target="_blank">Sergey Birskiy, GoTo Inc.</a></li>
                  <li class="list-item cert-icon">Check certificate and mentor's feedback <a class="development-link" href="https://certificate.ithillel.ua/view/25676337/en" target="_blank">here</a></li>
                  <li class="list-item course-icon">Check course description and program <a class="development-link" href="https://kharkiv.ithillel.ua/ua/courses/front-end-basic-kharkiv" target="_blank">here</a></li>
                  <li class="list-item goal-icon">Goal: to learn Front-End basics (HTML coding mainly), enter web development</li>
                </ul>
                <div class="c-corner-label">
                  <div class="c-corner-label__text">Completed</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <div class="slide-body col-12">
                <ul class="section-list">
                  <li class="list-item calendar-icon">Oct-Dec 2019</li>
                  <li class="list-item time-icon">30 x 2hr lessons</li>
                  <li class="list-item mentor-icon">Mentor: not determined yet (one of <a class="development-link" href="https://kharkiv.ithillel.ua/ua/courses/front-end-pro-kharkiv" target="_blank">these</a> guys)</li>
                  <li class="list-item course-icon">Check course description and program <a class="development-link" href="https://kharkiv.ithillel.ua/ua/courses/front-end-pro-kharkiv" target="_blank">here</a></li>
                  <li class="list-item goal-icon">Goal: to get practical Javascript, AJAX, jQuery skills sufficient for Junior Front-End Developer position</li>
                </ul>
                <div class="c-corner-label next">
                  <div class="c-corner-label__text">Upcoming</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <div class="slide-body col-12">
                <ul class="section-list">
                  <li class="list-item calendar-icon">Winter 2020</li>
                  <li class="list-item time-icon">10 x 2hr lessons</li>
                  <li class="list-item mentor-icon">Mentor: not determined yet (one of <a class="development-link" href="https://kharkiv.ithillel.ua/ua/courses/react-kharkiv" target="_blank">these</a> guys)</li>
                  <li class="list-item course-icon">Check course description and program <a class="development-link" href="https://kharkiv.ithillel.ua/ua/courses/react-kharkiv" target="_blank">here</a></li>
                  <li class="list-item goal-icon">Goal: to acquire skills of working with React library for creating complicated applications</li>
                </ul>
                <div class="c-corner-label next">
                  <div class="c-corner-label__text">Planned</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-wrap">
              <div class="slide-body col-12">
                <ul class="section-list">
                  <li class="list-item calendar-icon">Spring 2020</li>
                  <li class="list-item time-icon">10 x 3hr lessons</li>
                  <li class="list-item mentor-icon">Mentor: <a class="development-link" href="https://ua.linkedin.com/in/limarenkodenis" target="_blank">Denys Lymarenko, GlobalLogic</a></li>
                  <li class="list-item course-icon">Check course description and program <a class="development-link" href="https://kharkiv.ithillel.ua/ua/courses/angular-2-kharkiv" target="_blank">here</a></li>
                  <li class="list-item goal-icon">Goal: to get skills of working Angular 7 framework, learn TypeScript and ECMAScript 6, create an Angular-based application</li>
                </ul>
                <div class="c-corner-label next">
                  <div class="c-corner-label__text">Planned</div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>

    </main>
  </div>
</section>