<section id="section-4" class="section section-experience section-reverse">
  <div class="banner banner-reverse">
    <div class="banner-textarea">
      <h1 class="banner-title">Building a long-term career in IT</h1>
    </div>
  </div>
  <div class="container">
    <header class="section-header">
      <h2 class="section-title">Career ladder.</h2>
    </header>
    <main class="section-body">
      <div class="grid">
        <div class="col col-left col-top col-1">
          //= end-work.html
        </div>
        <div class="col col-right col-11"></div>

        <div class="col col-left col-top col-1">
          //= new-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-side">
            <h2 class="card-title">New skill:<br>Frontend basic</h2>
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= levelup-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h2 class="card-title">Level-up:<br>Social media responsible</h2>
            <p class="card-description">Technical and product support via Social Media channels</p>
            <div class="corner-down"></div>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= levelup-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h2 class="card-title">Level-up:<br>Hosting Migrations</h2>
            <p class="card-description">Hosting content migrations to Namecheap.com hosting servers; managing cPanel/WHM, Linux-administration</p>
            <div class="corner-up"></div>
            <div class="corner-down"></div>
          </div>
        </div>

        <div class="col col-left col-bottom col-1">
          //= start-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-main">
            <h2 class="card-title">Customer support specialist</h2>
            <h3 class="card-subtitle">Namecheap.com</h3>
            <p class="card-description">Online technical and product support; domain transfers, DNS management</p>
          </div>
        </div>
        
      </div>
    </main>
  </div>

  <figure class="hero-background">
    <img class="img" src="images/experience/bg.jpg" alt="Not found">
  </figure>
  <div class="section-overlay"></div>
</section>