<section id="experience" class="section section-experience section-reverse nav-element">
  <div class="banner banner-reverse">
    <div class="banner-textarea">
      <h1 class="banner-title">Long-term career in IT</h1>
    </div>
  </div>
  <div class="container">
    <header class="section-header">
      <h2 class="section-title">Experience.</h2>
    </header>
    <main class="section-body">

      <div class="grid">
        <div class="col col-left col-top col-1">
          //= end-work.html
        </div>
        <div class="col col-right col-11">
        </div>

        <div class="col col-left col-top col-1">
          //= levelup-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Mar 2020 | <a class="experience-link" href="https://requestum.com/" target="_blank">Requestum</a></h4>
            <h2 class="card-title">
              <div class="label level-up">level-up</div>
              <br>
              Angular Developer
            </h2>
            <p class="card-description">Working on a commercial large-scale Angular 9 project as a member of a frontend team</p>
            <div class="corner-down"></div>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= new-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Feb 2020-Apr 2020 | <a class="experience-link" href="https://kharkiv.ithillel.ua/ua/courses/react-kharkiv" target="_blank">Hillel School</a></h4>
            <h2 class="card-title">
              <div class="label new">new skill</div>
              <br>
              React
            </h2>
            <p class="card-description">Learning React core and additional (hooks, redux, testing, react-admin) features</p>
            <div class="line-up"></div>
            <div class="line-down"></div>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= new-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Jan 2020-Feb 2020 | <a class="experience-link" href="https://www.udemy.com/course/the-complete-guide-to-angular-2/" target="_blank">Udemy</a></h4>
            <h2 class="card-title">
              <div class="label new">new skill</div>
              <br>
                Angular 2+
            </h2>
            <p class="card-description">Learning Angular 2+ framework core and additional (Universal, NgRx, RxJs) features</p>
            <div class="line-up"></div>
            <div class="line-down"></div>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= new-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Oct 2019-Feb 2020 | <a class="experience-link" href="https://kharkiv.ithillel.ua/ua/courses/front-end-pro-kharkiv" target="_blank">Hillel School</a></h4>
            <h2 class="card-title">
              <div class="label new">new skill</div>
              <br>
              Front-End Pro
            </h2>
            <p class="card-description">Learning Javascript from the very basics to the advanced level</p>
            <div class="line-up"></div>
            <div class="line-down"></div>
          </div>
        </div>

        <div class="col col-left col-bottom col-1">
          //= start-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-main">
            <h4 class="card-subtitle">Oct 2019 | <a class="experience-link" href="https://requestum.com/" target="_blank">Requestum</a></h4>
            <h2 class="card-title">Frontend Developer (HTML / CSS / JavaScript)</h2>
            <p class="card-description">Developing frontend for web applications and websites</p>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          <div class="spacing"></div>
        </div>
        <div class="col col-right col-11"></div>
      </div>

      <div class="grid">
        <div class="col col-left col-top col-1">
          //= end-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Oct 2019 | 3 years and 4 months</h4>
            <p class="card-description">CS at Namecheap.com: Completed</p>
            <div class="corner-down"></div>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= new-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">May-Aug 2019  | <a class="experience-link" href="https://kharkiv.ithillel.ua/ua/courses/front-end-basic-kharkiv" target="_blank">Hillel School</a></h4>
            <h2 class="card-title">
              <div class="label new">new skill</div>
              <br>
              Front-End basics
            </h2>
            <p class="card-description">Learnt HTML/CSS, basic JavaScript; started working on my portfolio; got background sufficient to start the web development career</p>
            <div class="line-up"></div>
            <div class="line-down"></div>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= levelup-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Sept 2018 | <a class="experience-link" href="https://www.namecheap.com/" target="_blank">Namecheap.com</a></h4>
            <h2 class="card-title">
              <div class="label level-up">level-up</div>
              <br>
              Social media responsible
            </h2>
            <p class="card-description">Technical and product support via dedicated Social Media channels</p>
            <div class="corner-up"></div>
            <div class="corner-down"></div>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= levelup-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Nov 2017 | <a class="experience-link" href="https://www.namecheap.com/" target="_blank">Namecheap.com</a></h4>
            <h2 class="card-title">
              <div class="label level-up">level-up</div>
              <br>
              Hosting migrations
            </h2>
            <p class="card-description">Hosting migrations to Namecheap servers; cPanel/WHM, Linux , MySQL</p>
            <div class="corner-up"></div>
            <div class="corner-down"></div>
          </div>
        </div>

        <div class="col col-left col-bottom col-1">
          //= start-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-main">
            <h4 class="card-subtitle">Jul 2016 | <a class="experience-link" href="https://www.namecheap.com/" target="_blank">Namecheap.com</a></h4>
            <h2 class="card-title">Customer support specialist</h2>
            <p class="card-description">Online technical and product support; domain transfers, DNS management</p>
          </div>
        </div>
        
      </div>
    </main>
  </div>

  <figure class="hero-background">
    <img class="img" src="images/experience/bg.jpg" alt="Not found">
  </figure>
  <div class="section-overlay"></div>
</section>