<section id="experience" class="section section-experience section-reverse">
  <div class="banner banner-reverse">
    <div class="banner-textarea">
      <h1 class="banner-title">Long-term career in IT</h1>
    </div>
  </div>
  <div class="container">
    <header class="section-header">
      <h2 class="section-title">Experience.</h2>
    </header>
    <main class="section-body">
      <div class="grid">
        <div class="col col-left col-top col-1">
          //= end-work.html
        </div>
        <div class="col col-right col-11"></div>

        <div class="col col-left col-top col-1">
          //= new-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h2 class="card-title">
              <div class="label new">new skill</div>
              <br>
              Front-End basics
            </h2>
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= levelup-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Sept 2018 | <a class="experience-link" href="https://www.namecheap.com/" target="_blank">Namecheap.com</a></h4>
            <h2 class="card-title">
              <div class="label level-up">level-up</div>
              <br>
              Social media responsible
            </h2>
            <p class="card-description">Technical and product support via dedicated Social Media channels</p>
            <div class="corner-down"></div>
          </div>
        </div>

        <div class="col col-left col-top col-1">
          //= levelup-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-promotion">
            <h4 class="card-subtitle">Nov 2017 | <a class="experience-link" href="https://www.namecheap.com/" target="_blank">Namecheap.com</a></h4>
            <h2 class="card-title">
              <div class="label level-up">level-up</div>
              <br>
              Hosting migrations
            </h2>
            <p class="card-description">Hosting migrations to Namecheap servers; cPanel/WHM, Linux , MySQL</p>
            <div class="corner-up"></div>
            <div class="corner-down"></div>
          </div>
        </div>

        <div class="col col-left col-bottom col-1">
          //= start-work.html
        </div>
        <div class="col col-right col-11">
          <div class="card card-experience card-main">
            <h4 class="card-subtitle">Jul 2016 | <a class="experience-link" href="https://www.namecheap.com/" target="_blank">Namecheap.com</a></h4>
            <h2 class="card-title">Customer support specialist</h2>
            <p class="card-description">Online technical and product support; domain transfers, DNS management</p>
          </div>
        </div>
        
      </div>
    </main>
  </div>

  <figure class="hero-background">
    <img class="img" src="images/experience/bg.jpg" alt="Not found">
  </figure>
  <div class="section-overlay"></div>
</section>