<header id="header" class="header">
  <div class="container">
    <div class="header-layout">
      <div class="header-left">
        <a class="logo" href="index.html">
          <figure class="logo-name-wrap">
            <img class="img" src="images/logo/logo.svg" alt="not found">
          </figure>
        </a>
      </div>
      <div class="header-right">
        <nav class="header-navigation">
          <div class="nav-wrap">
            <a href="#skills" class="nav-item">Skills</a>
          </div>
          <div class="nav-wrap">
            <a href="#portfolio" class="nav-item">Portfolio</a>
          </div>
          <div class="nav-wrap">
            <a href="#development" class="nav-item">Development</a>
          </div>
          <div class="nav-wrap">
            <a href="#experience" class="nav-item">Experience</a>
          </div>
          <div class="nav-wrap">
            <a href="#hobbies" class="nav-item">Hobbies</a>
          </div>
          <div class="nav-wrap">
            <a href="#contact" class="nav-item">Contact</a>
          </div>
        </nav>
        <div id="nav-mobile" class="nav-mobile">
          <a class="dropdown-toggle burger-menu" href="#menu">
            <figure class="burger-button">
              <img class="img" src="images/icons/menu.svg" alt="not found">
            </figure>
          </a>  
          <ul class="dropdown">
            <li><a href="#skills" class="nav-item-mob">Skills</a></li>
            <li><a href="#portfolio" class="nav-item-mob">Portfolio</a></li>
            <li><a href="#development" class="nav-item-mob">Development</a></li>
            <li><a href="#experience" class="nav-item-mob">Experience</a></li>
            <li><a href="#hobbies" class="nav-item-mob">Hobbies</a></li>
            <li><a href="#contact" class="nav-item-mob">Contact</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
</header>