<section id="section-hero" class="hero">
    <button class="a2hs-button rellax" data-rellax-speed="-5">Add to home screen</button>
    //= header.html
    <div class="swiper-container swiper-hero">
        <!-- Add Arrows
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero-wrap">
              <div class="container">
                <div class="hero-layout">
                  <div class="hero-textarea">
                    <h1 class="hero-title col-12">Mykhailo Kazakov</h1>
                    <p class="hero-subtitle col-12">
                      Rising frontend developer
                    </p>
                  </div>
                  <div class="hero-spacing"></div>
                  <ul class="contacts">
                    <li class="contact-icon phone-icon">
                      <ul class="detail-list">
                        <li><a class="contacts-list" href="tel:+380505263858">(+380) 50 526 3858</a></li>
                      </ul>
                    </li>
                    <li class="contact-icon message-icon"><a class="contacts-list" href="mailto: kamiournew@gmail.com">kamiournew@gmail.com</a></li>
                    <li class="contact-icon telegram-icon"><a class="contacts-list" href="tg://resolve?domain=kamiour">kamiour</a></li>
                    <li class="contact-icon skype-icon"><a class="contacts-list" href="skype:kamiour1?add">kamiour1</a></li>
                  </ul>
                  <div class="button-wrap">
                    <a href="#skills" class="button button-scroll">Explore</a>
                  </div>
                </div>
              </div>
              <figure class="hero-background">
                <img class="img img-1 rellax" data-rellax-speed="-10" src="images/hero/pic1.jpg" alt="Not found">
              </figure>
              <div class="hero-overlay"></div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="hero-wrap">
              <div class="container">
                <div class="hero-layout">
                  <div class="hero-textarea">
                    <h1 class="hero-title col-12">Mykhailo Kazakov</h1>
                    <ul class="hero-list">
                      <li class="hero-description">
                        Responsive, mobile-first sites
                      </li>
                      <li class="hero-description">
                        Gulp, SCSS, Bootstrap, Git
                      </li>
                      <li class="hero-description">
                        Multitasking, C2 English
                      </li>
                    </ul>
                  </div>
                  <div class="hero-spacing"></div>
                  <ul class="social social-hero">
                    <li><a class="social-link social-size" href="https://www.linkedin.com/in/mykhailokazakov/" target="_blank"><img class="img" src="images/icons/linkedin.svg" alt="Not found"></a></li>
                    <li><a class="social-link social-size" href="https://github.com/kamiour?tab=repositories" target="_blank"><img class="img" src="images/icons/github.svg" alt="Not found"></a></li>
                    <li><a class="social-link social-size" href="https://www.facebook.com/kamiour" target="_blank"><img class="img" src="images/icons/facebook.svg" alt="Not found"></a></li>
                    <li><a class="social-link social-size" href="https://www.upwork.com/o/profiles/users/_~01787048d703e514da/" target="_blank"><img class="img" src="images/icons/upwork.svg" alt="Not found"></a></li>
                    <li><a class="social-link social-size" href="https://www.instagram.com/ernesthemingwest/" target="_blank"><img class="img" src="images/icons/instagram.svg" alt="Not found"></a></li>
                  </ul>
                  <div class="button-wrap">
                    <a href="#skills" class="button button-scroll"><span></span>Skills</a>
                  </div>
                </div>
              </div>
              <figure class="hero-background">
                <img class="img img-2 rellax" data-rellax-speed="-10" src="images/hero/pic2.jpg" alt="Not found">
              </figure>
              <div class="hero-overlay"></div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="hero-wrap">
              <div class="container">
                <div class="hero-layout">
                  <div class="hero-textarea">
                    <h1 class="hero-title col-12">Mykhailo Kazakov</h1>
                    <ul class="hero-list">
                      <li class="hero-description">
                        <a class="hero-link" href="https://pottery.kazakov.codes" target="_blank">pottery.kazakov.codes</a>
                      </li>
                      <li class="hero-description">
                        <a class="hero-link" href="https://norway.kazakov.codes" target="_blank">norway.kazakov.codes</a>
                      </li>
                      <li class="hero-description">
                        <a class="hero-link" href="https://yellowmoon.kazakov.codes" target="_blank">yellowmoon.kazakov.codes</a>
                      </li>
                      <li class="hero-description">
                        <a class="hero-link" href="https://pahu.kazakov.codes" target="_blank">pahu.kazakov.codes</a>
                      </li>
                      <li class="hero-description list mt-30">
                        and more
                      </li>
                    </ul>
                  </div>
                  <div class="hero-spacing"></div>
                  <div class="button-wrap">
                    <a href="#portfolio" class="button button-scroll"><span></span>Portfolio</a>
                  </div>
                </div>
              </div>
              <figure class="hero-background">
                <img class="img img-3 rellax" data-rellax-speed="-10" src="images/hero/pic3.jpg" alt="Not found">
              </figure>
              <div class="hero-overlay"></div>
            </div>
          </div>
  
        </div>
    </div>
</section>
