<section id="section-5" class="section section-hobbies">

  <div class="banner">
    <div class="banner-textarea">
      <h1 class="banner-title">Fueling life with passions</h1>
    </div>
  </div>

  <header class="section-header">
    <div class="container">
      <h2 class="section-title">Hobbies</h2>
      <h4 class="section-subtitle">Passionate about these things</h4>
    </div>
  </header>
  <main class="section-body">
    <div class="grid">
      <div class="col col-12 col-6s col-3m">
        <a data-fancybox="gallery" href="images/hobbies/travel2.jpg">
          <div class="card card-hobbies">
            <figure class="card-background">
              <div class="img-wrap ratio-1-1">
                <div class="img-content">
                  <img class="img" src="images/hobbies/travel2.jpg" alt="not found">
                </div>
              </div>  
            </figure>
            <div class="card-foreground">
              <h2 class="card-title">Travelling</h2>
            </div>
            <div class="card-overlay"></div>
          </div>
        </a>
      </div>
      <div class="col col-12 col-6s col-3m">
        <a data-fancybox="gallery" href="images/hobbies/photo2.jpg">
          <div class="card card-hobbies">
            <figure class="card-background">
              <div class="img-wrap ratio-1-1">
                <div class="img-content">
                  <img class="img" src="images/hobbies/photo2.jpg" alt="not found">
                </div>
              </div>  
            </figure>
            <div class="card-foreground">
              <h2 class="card-title">Urban photo</h2>
            </div>
            <div class="card-overlay"></div>
          </div>
        </a>
      </div>
      <div class="col col-12 col-6s col-3m">
        <a data-fancybox="gallery" href="images/hobbies/basket.jpg">
          <div class="card card-hobbies">
            <figure class="card-background">
              <div class="img-wrap ratio-1-1">
                <div class="img-content">
                  <img class="img" src="images/hobbies/basket.jpg" alt="not found">
                </div>
              </div>  
            </figure>
            <div class="card-foreground">
              <h2 class="card-title">Basketball</h2>
            </div>
            <div class="card-overlay"></div>
          </div>
        </a>
      </div>
      <div class="col col-12 col-6s col-3m">
        <a data-fancybox="gallery" href="images/hobbies/printing2.jpg">
          <div class="card card-hobbies">
            <figure class="card-background">
              <div class="img-wrap ratio-1-1">
                <div class="img-content">
                  <img class="img" src="images/hobbies/printing2.jpg" alt="not found">
                </div>
              </div>
            </figure>
            <div class="card-foreground">
              <h2 class="card-title">3D printing</h2>
            </div>
            <div class="card-overlay"></div>
          </div>
        </a>
      </div>
      
    </div>
  </main>
</section>