<section id="section-2" class="section section-portfolio section-reverse">

  <div class="banner banner-reverse">
    <div class="banner-textarea">
      <h1 class="banner-title">Beautiful websites from your designs</h1>
    </div>
  </div>

  <div class="container">
    <header class="section-header">
      <h1 class="section-title title-reverse font-secondary">Portfolio.</h1>
    </header>
    
    <article class="section-body">
      <div class="grid">

        <div class="col col-12 col-6s col-4m">
          <div class="card card-portfolio">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-10-7">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/pottery.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a class="card-foreground-body" data-fancybox data-type="iframe" data-src="https://pottery.kazakov.codes/" href="javascript:;" data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "100%"}}}'>
                  <figure class="figure-plus">
                    <img class="img" src="images/icons/zoom.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title">
                    Pottery | <a class="portfolio-link" href="https://github.com/kamiour/pottery" target="_blank">Github</a>
                  </h2>
                  <p class="card-description">
                    Pure CSS3 + HTML5, customized sliders, pop-up menus
                  </9>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-portfolio">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-10-7">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/norway.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a class="card-foreground-body" data-fancybox data-type="iframe" data-src="https://pottery.kazakov.codes/" href="javascript:;" data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "100%"}}}'>
                  <figure class="figure-plus">
                    <img class="img" src="images/icons/zoom.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title">
                    Pottery | <a class="portfolio-link" href="https://github.com/kamiour/pottery" target="_blank">Github</a>
                  </h2>
                  <p class="card-description">
                    Pure CSS3 + HTML5, customized sliders, pop-up menus
                  </9>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-portfolio">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-10-7">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/yellowmoon.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a class="card-foreground-body" data-fancybox data-type="iframe" data-src="https://pottery.kazakov.codes/" href="javascript:;" data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "100%"}}}'>
                  <figure class="figure-plus">
                    <img class="img" src="images/icons/zoom.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title">
                    Pottery | <a class="portfolio-link" href="https://github.com/kamiour/pottery" target="_blank">Github</a>
                  </h2>
                  <p class="card-description">
                    Pure CSS3 + HTML5, customized sliders, pop-up menus
                  </9>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-portfolio">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-10-7">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/modest.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a class="card-foreground-body" data-fancybox data-type="iframe" data-src="https://pottery.kazakov.codes/" href="javascript:;" data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "100%"}}}'>
                  <figure class="figure-plus">
                    <img class="img" src="images/icons/zoom.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title">
                    Pottery | <a class="portfolio-link" href="https://github.com/kamiour/pottery" target="_blank">Github</a>
                  </h2>
                  <p class="card-description">
                    Pure CSS3 + HTML5, customized sliders, pop-up menus
                  </9>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-portfolio">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-10-7">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/golden.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a class="card-foreground-body" data-fancybox data-type="iframe" data-src="https://pottery.kazakov.codes/" href="javascript:;" data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "100%"}}}'>
                  <figure class="figure-plus">
                    <img class="img" src="images/icons/zoom.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title">
                    Pottery | <a class="portfolio-link" href="https://github.com/kamiour/pottery" target="_blank">Github</a>
                  </h2>
                  <p class="card-description">
                    Pure CSS3 + HTML5, customized sliders, pop-up menus
                  </9>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-portfolio">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-10-7">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/pahu.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a class="card-foreground-body" data-fancybox data-type="iframe" data-src="https://pottery.kazakov.codes/" href="javascript:;" data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "100%"}}}'>
                  <figure class="figure-plus">
                    <img class="img" src="images/icons/zoom.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title">
                    Pottery | <a class="portfolio-link" href="https://github.com/kamiour/pottery" target="_blank">Github</a>
                  </h2>
                  <p class="card-description">
                    Pure CSS3 + HTML5, customized sliders, pop-up menus
                  </9>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m display-toggle hidden visuallyhidden">
          <div class="card card-portfolio">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-10-7">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/tankapp.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a class="card-foreground-body" data-fancybox data-type="iframe" data-src="https://pottery.kazakov.codes/" href="javascript:;" data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "100%"}}}'>
                  <figure class="figure-plus">
                    <img class="img" src="images/icons/zoom.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title">
                    Pottery | <a class="portfolio-link" href="https://github.com/kamiour/pottery" target="_blank">Github</a>
                  </h2>
                  <p class="card-description">
                    Pure CSS3 + HTML5, customized sliders, pop-up menus
                  </9>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m display-toggle hidden visuallyhidden">
          <div class="card card-portfolio">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-10-7">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/prechu.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a class="card-foreground-body" data-fancybox data-type="iframe" data-src="https://pottery.kazakov.codes/" href="javascript:;" data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "100%"}}}'>
                  <figure class="figure-plus">
                    <img class="img" src="images/icons/zoom.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title">
                    Pottery | <a class="portfolio-link" href="https://github.com/kamiour/pottery" target="_blank">Github</a>
                  </h2>
                  <p class="card-description">
                    Pure CSS3 + HTML5, customized sliders, pop-up menus
                  </9>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>

      <div class="section-description-wrap">
        <h3 class="section-description display-toggle">There is more! Click to check</h3>
        <div class="button-wrap">
          <a href="#more" class="button-expand">
            <figure class="button-icon bounce">
              <img class="icon-rotate img" src="images/icons/arrow-down.svg" alt="not found">
            </figure>
          </a>
        </div>
      </div>
      

    </article>
  </div>

  <figure class="hero-background">
    <img class="img" src="images/portfolio/bg3.jpg" alt="Not found">
  </figure>
  <div class="section-overlay"></div>
</section>