<section id="skills" class="section section-skills nav-element">
  <div class="banner">
    <div class="banner-textarea">
      <h1 class="banner-title">Qualified and versatile</h1>
    </div>
  </div>

  <div class="container">
    <header class="section-header">
      <h1 class="section-title">Skills.</h1>
    </header>
    <article class="section-body">
  
      <div class="tab-grid">
        <div class="grid grid-tab">
          <div class="col col-1-5">
            <a href="#hard-skills" class="button button-tab button-hardskills"><div>Hard skills</div></a>
          </div>
          <div class="col col-1-5">
            <a href="#tools" class="button button-tab button-tools"><div>Tools</div></a>
          </div>
          <div class="col col-1-5">
            <a href="#approaches" class="button button-tab button-approaches"><div>Approaches</div></a>
          </div>
          <div class="col col-1-5">
            <a href="#soft-skills" class="button button-tab button-softskills"><div>Soft skills</div></a>
          </div>
          <div class="col col-1-5">
            <a href="#all-skills" class="button button-tab button-all"><div>All</div></a>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                  <div class="img-wrap ratio-5-4">
                    <div class="img-content">
                      <img class="img" src="images/skills/gulp.svg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Gulp4
                  </h2>
                  <p class="card-description">
                    Assembling websites via <a class="skill-link" href="https://gulpjs.com/" target="_blank">Gulp</a> task manager for quick and automatic running of time-consuming tasks: adding vendor prefixes, minifying code, optimizing images, translating SCSS into CSS
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill approach">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/responsive.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Responsive
                  </h2>
                  <p class="card-description">
                    Creating mobile-first, responsive websites perfectly customized for main screen sizes
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill approach">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/explorer.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Cross-browser
                  </h2>
                  <p class="card-description">
                    Using auto-prefixers, caniuse.com website database and other tools to make websites compatible with major browsers
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill approach">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/pixel.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Pixel-perfect
                  </h2>
                  <p class="card-description">
                    Using browser plugins and dedicated design tools (Avocode, Figma, Photoshop) to make websites looc identical to their designs
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/html.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    HTML5
                  </h2>
                  <p class="card-description">
                    Semantic markup; block model; BEM; components reuse; flexbox; forms; centering; positioning; lists, tables; SEO
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/css.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    CSS3
                  </h2>
                  <p class="card-description">
                    Selectors and their patterns; pseudoelements and pseudoclasses; @media-requests for responsive websites; properties inheritance
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Javascript
                  </h2>
                  <p class="card-description">
                     Adding/removing classes, selecting pattern-matching components; developing basic Javascript elements like expand/scroll buttons, navigation buttons, burger and profile menus
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/sass.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    SASS
                  </h2>
                  <p class="card-description">
                    SCSS tools: variables, @mixin/@include, nesting, conditions, loops
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/git.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Git
                  </h2>
                  <p class="card-description">
                    Using Git version control system for building websites; <a class="skill-link" href="https://github.com/kamiour" target="_blank">my Github account</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/chrome.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Google Dev Tools
                  </h2>
                  <p class="card-description">
                    Using Google Chrome Developer Panel to troubleshoot HTML/CSS website structure, Javascript components responses
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/jira.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Jira
                  </h2>
                  <p class="card-description">
                    Using <a class="skill-link" href="https://www.atlassian.com/software/jira" target="_blank">Jira</a> tracking tool to submit new bugs and improvements; monitoring updates
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/angular.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Angular 2+
                  </h2>
                  <p class="card-description">
                    Using Angular 2+ framework to create complicated single-page applications.<br>
                    Angular Universal; NgRx; RxJS
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/react.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    React
                  </h2>
                  <p class="card-description">
                    Using React / Redux to create complicated single-page applications.<br>
                    React-admin; redux-toolkit; formik
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/framework.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    CSS Frameworks
                  </h2>
                  <p class="card-description">
                    Integrating framework structures and library elements; creating websites fully-based on framework functionality.<br>
                    Material UI, Bootstrap, UIkit
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill soft-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/language.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Advanced English
                  </h2>
                  <p class="card-description">
                    <a class="skill-link" href="https://drive.google.com/file/d/1JXm0_Ysd05Pr1P7U00M7uG_hdFMHUk3k/view?usp=sharing" target="_blank">TOEFL 114/120</a>, which corresponds to C1/C2 level; broad vocabulary of technical English terms due to working in the IT field
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill soft-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/time.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Time management
                  </h2>
                  <p class="card-description">
                    Respecting deadlines, providing intermediate results so you can control the process rather than the final version of the project
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill soft-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/multitasking.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Multitasking
                  </h2>
                  <p class="card-description">
                    Being able to focus on several tools/processes simultaneously due to experience in high-load customer support
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill soft-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/learning.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Quick Learning
                  </h2>
                  <p class="card-description">
                    Being able to learn fast and prioritize due to vast studying experience at universities and constant learning at current position
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/linux.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Linux
                  </h2>
                  <p class="card-description">
                    Linux management skills gained through constant Linux hosting-migration related tasks
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill approach">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/optimization.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Optimization
                  </h2>
                  <p class="card-description">
                    Using auto-prefixers, image optimization tools, code validators, code minimization scripts to make the website perform in the best and fastest way possible
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/visual.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Visual Studio Code
                  </h2>
                  <p class="card-description">
                    Coding in <a class="skill-link" href="https://code.visualstudio.com/" target="_blank">Visual Studio</a> code editor; customizing coding environment via plugins
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/figma.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Design tools
                  </h2>
                  <p class="card-description">
                    Using basic features of <a class="skill-link" href="https://www.figma.com" target="_blank">Figma</a>, <a class="skill-link" href="https://avocode.com/" target="_blank">Avocode</a>, <a class="skill-link" href="https://www.adobe.com/" target="_blank">Photoshop</a>, <a class="skill-link" href="https://zeplin.io/" target="_blank">Zeplin</a> design tools to export images/text; check CSS properties and structure
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/fiddle.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    Fiddles
                  </h2>
                  <p class="card-description">
                    Using online fiddles to test pieces of code; <a class="skill-link" href="https://jsfiddle.net/" target="_blank">JSfiddle</a>, <a class="skill-link" href="https://codepen.io/" target="_blank">Codepen</a>, <a class="skill-link" href="https://codesandbox.io/" target="_blank">CodeSandbox</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-5-4">
                      <div class="img-content">
                        <img class="img" src="images/skills/cpanel.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title">
                    cPanel/WHM
                  </h2>
                  <p class="card-description">
                    Managing various types of hosting control panels; creating and using FTP/SSH accounts; adding addon domains and subdomains; managing DNS zone
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </article>
  </div>
</section>