<section id="section-1" class="section section-skills">
  <div class="banner">
    <div class="banner-textarea">
      <h1 class="banner-title">Highly qualified and versatile</h1>
    </div>
  </div>

  <div class="container">
    <header class="section-header">
      <h1 class="section-title font-secondary">Skills</h1>
    </header>
    <article class="section-body">
  
      <div class="tab-grid">
        <div class="grid grid-tab">
          <div class="col col-1-5">
            <a href="#hard-skills" class="button button-tab button-hardskills"><div>Hard skills</div></a>
          </div>
          <div class="col col-1-5">
            <a href="#tools" class="button button-tab button-tools"><div>Tools</div></a>
          </div>
          <div class="col col-1-5">
            <a href="#approaches" class="button button-tab button-approaches"><div>Approaches</div></a>
          </div>
          <div class="col col-1-5">
            <a href="#soft-skills" class="button button-tab button-softskills"><div>Soft skills</div></a>
          </div>
          <div class="col col-1-5">
            <a href="#all-skills" class="button button-tab button-all"><div>All</div></a>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                  <div class="img-wrap ratio-1-1">
                    <div class="img-content">
                      <img class="img" src="images/skills/gulp.svg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Gulp4
                  </h2>
                  <p class="card-description">
                    Website assembler performing tasks
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/flex.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Flexbox
                  </h2>
                  <p class="card-description">
                    Mobile first, responsive approach
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill approach">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/chrome.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Responsive
                  </h2>
                  <p class="card-description">
                    Mobile-first, responsive websites using media requests, viewport tag
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill approach">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/chrome.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Cross-browser
                  </h2>
                  <p class="card-description">
                    Using auto-prefixers, caniuse.com website to check the applicability
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill approach">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/pixel.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Pixel-perfect
                  </h2>
                  <p class="card-description">
                    Websites identical to your design
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/sass.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    SASS
                  </h2>
                  <p class="card-description">
                    SCSS tools: functions, @mixin/@include, nesting, cycles, variables
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/html.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    HTML5
                  </h2>
                  <p class="card-description">
                    semantic tags; block model; flexbox; forms; centering an element within a block; lists, tables
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/css.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    CSS3
                  </h2>
                  <p class="card-description">
                    selectors and their patterns; pseudoelements; pseudoclasses; @media-requests for responsive websites; properties inheritance
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/git.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Github
                  </h2>
                  <p class="card-description">
                    Version control system. My GitHub: link
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/swiper.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Swiper
                  </h2>
                  <p class="card-description">
                    Mastering Swiper slider. Examples
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/bootstrap.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Bootstrap4
                  </h2>
                  <p class="card-description">
                    Being able to use Bootstrap structures and customize them. Examples
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Javascript
                  </h2>
                  <p class="card-description">
                    Implementing basic javascript features: expand buttons, navigation scrolling, burger and profile menus
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill soft-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Time management
                  </h2>
                  <p class="card-description">
                    Respecting deadlines, providing intermediary results so you can control the process rather than the final version of the project
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill soft-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Multitasking
                  </h2>
                  <p class="card-description">
                    Being able to focus on several tools/processes at once due to experience in  high-load customer support
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Fancybox
                  </h2>
                  <p class="card-description">
                    Third-party tool to integrate galleries in modal windows in to a website
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Positioning
                  </h2>
                  <p class="card-description">
                    Being able to position elements layaring one above another, creating pop-up windows, burger-menus
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Animations Transitions
                  </h2>
                  <p class="card-description">
                    Creating animations and transitions
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Formspree contact form
                  </h2>
                  <p class="card-description">
                    Implementing a tailored contact form which does not require active email hosting for the domain. In this way, the contact form on this page is set up
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill soft-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Communication skills
                  </h2>
                  <p class="card-description">
                    Customer support experience steps up here as well. Being able to apply various communication techniques depending on different types of people
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Tabs
                  </h2>
                  <p class="card-description">
                    Creating different types of tabs using basic Javascript
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Integrating fonts
                  </h2>
                  <p class="card-description">
                    As files, via Google fonts and other CDNs
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill hard-skill">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Integrating images
                  </h2>
                  <p class="card-description">
                    Understanding differences between vector and rasterized graphics, peculiarities of png, jpeg, svg formats; online resources for pics/icons search and optimization
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill approach">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Website optimization
                  </h2>
                  <p class="card-description">
                    Using auto-prefixers, image optimization, code validators, code minimization
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Visual Studio Code
                  </h2>
                  <p class="card-description">
                    Explorer, terminal and work area windows
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Photoshop
                  </h2>
                  <p class="card-description">
                    Description
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Avocode
                  </h2>
                  <p class="card-description">
                    Description
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m col-3l skill tool">
          <div class="card-wrap">
            <div class="card card-skills">
              <div class="card-header col-3 col-12s">
                <figure class="card-media">
                    <div class="img-wrap ratio-1-1">
                      <div class="img-content">
                        <img class="img" src="images/skills/javascript.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Figma
                  </h2>
                  <p class="card-description">
                    Description
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </article>
  </div>
</section>